In this problem i scraaped a data from a public website to sell properties or any thing u want 
i scrapped the appartments in cairo with its districts to predict the good price with the apartment features to list it

In [140]:
import joblib
import time
import mysql.connector
from datetime import date
from dateutil.relativedelta import relativedelta
from datetime import datetime, timedelta
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(rc={'figure.figsize': [9, 9]}, font_scale=1.2)

In [141]:
ads,url_stack=joblib.load('state.pkl')

In [142]:

df=pd.DataFrame.from_records(ads)
df

# df = pd.read_csv('olx_data_36K_V2.csv')
# df

,url,title,date,Location,Compound,Type,Price,Area (m²),Bedrooms,Level,Furnished,Price Type,Bathrooms,Payment Option,Description,Amenities,Delivery Term,Delivery Date,Down Payment
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2 months ago,New Cairo - El Tagamoa,2020 Compound,Apartment,"175,000",115,3,3,No,Price,1,Cash,شقة لقطة للبيع بسكن مصر الاندلس دور متكرر فيو ...,Landline; Natural Gas; Water Meter; Electricit...,NaN,NaN,NaN
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2 weeks ago,New Cairo - El Tagamoa,NaN,Apartment,"180,000",115,3,1,No,Price,1,Cash,للبيع دور اول\nفيو تحفه\nالأوفر ١٨٠ الف لسرعه ...,Natural Gas; Water Meter; Electricity Meter; S...,Finished,Ready to move,NaN
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,1 month ago,New Cairo - El Tagamoa,NaN,Apartment,"150,000",115,3,2,No,Price,1,Cash,للبيت شقه سكن مصر التجمع التالت مسلسل 9\nمرحله...,NaN,Finished,Ready to move,NaN
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2 days ago,New Cairo - El Tagamoa,NaN,Apartment,"450,000",135,3,7,No,Negotiable,1,Cash,شقة عبارة عن نصف دور بها عدد 3 جهاز تكييف وسخا...,Elevator; Natural Gas; Balcony,Finished,Ready to move,NaN
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,1 month ago,New Cairo - El Tagamoa,NaN,Apartment,"160,000",115,3,2,No,Price,1,Cash,لقطه لسرعه البيع شقه سكن مصر التجمع التالت مسل...,NaN,Finished,Ready to move,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,1 month ago,15 May City,NaN,Apartment,"550,000",125,3,2,NaN,Negotiable,1,NaN,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م \...,NaN,Core & Shell,Ready to move,NaN
37705,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بكمبوند دار مصر دور ثالث,1 week ago,15 May City,Dar Misr,Apartment,"600,000",140,3,3,No,Negotiable,3,NaN,شقة للبيع بكمبوند دار مصر 15 مايو دور ثالث بحر...,NaN,Finished,Ready to move,"600,000"
37706,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع,2 months ago,15 May City,NaN,Apartment,"470,000",80,2,5,No,Negotiable,1,Cash,شقه للبيع بارقي مكان بالإسكندرية أبراج رمادا ب...,Elevator; Natural Gas; Water Meter; Electricit...,Finished,Ready to move,NaN
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2 months ago,15 May City,NaN,Apartment,"470,000",100,2,4,No,Price,1,Cash,شقة للبيع بمدينة ١٥ مايو مجاورة ٥ \nقريبة من ج...,Landline; Water Meter; Electricity Meter; Pets...,Finished,Ready to move,NaN
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,3 weeks ago,15 May City,NaN,Apartment,"440,000",105,3,Ground,NaN,Price,2,NaN,شقة دور ارضي مرتفع 3 غرف وصالة \n2 حمام ومطبخ ...,NaN,NaN,NaN,NaN

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37709 entries, 0 to 37708
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             37709 non-null  object
 1   title           37709 non-null  object
 2   date            37709 non-null  object
 3   Location        37709 non-null  object
 4   Compound        13610 non-null  object
 5   Type            37709 non-null  object
 6   Price           37709 non-null  object
 7   Area (m²)       37709 non-null  object
 8   Bedrooms        37709 non-null  object
 9   Level           37709 non-null  object
 10  Furnished       28677 non-null  object
 11  Price Type      37709 non-null  object
 12  Bathrooms       37709 non-null  object
 13  Payment Option  33569 non-null  object
 14  Description     37709 non-null  object
 15  Amenities       28301 non-null  object
 16  Delivery Term   25879 non-null  object
 17  Delivery Date   28539 non-null  object
 18  Down Payment    10286 non-null  object
dtypes: object(19)
memory usage: 5.5+ MB

# Filling missing Values  loading
all missing values filling written here

In [144]:
df['Delivery Term'].replace('Finished',1, inplace=True)
df['Delivery Term'].replace('Not Finished',0 ,inplace = True)
df['Delivery Term'].replace('Semi Finished',0.5 ,inplace = True)
df['Delivery Term'].replace('Core & Shell',0.75 ,inplace = True)
df['Delivery Term'].unique()

array([ nan, 1.  , 0.  , 0.5 , 0.75])

In [145]:
# df['amenities'].isna().sum()
imputer = SimpleImputer(strategy='constant',fill_value='')

imputer2 = SimpleImputer(strategy='constant',fill_value='Cash')
imputer3 = SimpleImputer(strategy='constant',fill_value='Ready to move')
imputer4 = SimpleImputer(strategy='constant',fill_value=0)
imputer5 = SimpleImputer(strategy='most_frequent')
imputer6 = KNNImputer(n_neighbors=4)

df[['Amenities']] = imputer.fit_transform(df[['Amenities']])
df[['Delivery Date']] = imputer3.fit_transform(df[['Delivery Date']])
df[['Down Payment']] = imputer4.fit_transform(df[['Down Payment']])
df[['Furnished']] = imputer5.fit_transform(df[['Furnished']])

df[['Delivery Term']] = imputer6.fit_transform(df[['Delivery Term']])
df[['Payment Option']] = imputer2.fit_transform(df[['Payment Option']])

payment option converting 0 to 'Cash'

In [146]:
df[df['Payment Option']==0]='Cash'

In [147]:
df['Payment Option'].unique()

array(['Cash', 'Installment', 'Cash or Installment'], dtype=object)

Down payment conversion from string to int

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37709 entries, 0 to 37708
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             37709 non-null  object
 1   title           37709 non-null  object
 2   date            37709 non-null  object
 3   Location        37709 non-null  object
 4   Compound        13610 non-null  object
 5   Type            37709 non-null  object
 6   Price           37709 non-null  object
 7   Area (m²)       37709 non-null  object
 8   Bedrooms        37709 non-null  object
 9   Level           37709 non-null  object
 10  Furnished       37709 non-null  object
 11  Price Type      37709 non-null  object
 12  Bathrooms       37709 non-null  object
 13  Payment Option  37709 non-null  object
 14  Description     37709 non-null  object
 15  Amenities       37709 non-null  object
 16  Delivery Term   37709 non-null  object
 17  Delivery Date   37709 non-null  object
 18  Down Payment    37709 non-null  object
dtypes: object(19)
memory usage: 5.5+ MB

In [149]:
df["Down Payment"] = [float(str(i).replace(",", "")) for i in df["Down Payment"]]
df['Down Payment']=df['Down Payment'].astype(int)

In [150]:
df['Delivery Term'].astype(str)
df['Delivery Term'].replace(1,'Finished', inplace=True)
df['Delivery Term'].replace(0,'Not Finished' ,inplace = True)
df['Delivery Term'].replace(0.5,'Semi Finished' ,inplace = True)
df['Delivery Term'].replace(0.75,'Core & Shell' ,inplace = True)
df['Delivery Term'].replace(0.7807295490552185,'Core & Shell',inplace = True)

Replacing Highest with 10+

In [151]:
df['Level'].replace('Highest','10+',inplace=True)

In [152]:
df['Delivery Term'].value_counts()

Finished         15325
Core & Shell     12972
Semi Finished     8046
Not Finished      1366
Name: Delivery Term, dtype: int64

In [153]:
df['Amenities'].isna().sum()

0

# amenities

In [154]:
list_ament=['Electricity Meter', 'Balcony','Water Meter','Elevator',
            'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
            'Private Garden','Pool','Maids Room','Central A/C & heating',
            'Built in Kitchen Appliances']

ls1 = ['مياة', 'عداد كهرباء','غاز','تكييف مركزي','مصعد','حمام سباحه','جاردن','بلكونة']
ls2 = ['Water Meter', 'Electricity Meter', 'Natural Gas','Central A/C & heating','Elevator','Pool','Private Garden','Balcony']
mny_map = dict(zip(ls2, ls1))

def check_amenity(row, col):
    if col in row['Amenities'] or mny_map.get(col, 'none') in row['Description'] :
        return 1
    else:
        return 0

for col in list_ament:
    df[col] = df.apply(check_amenity, args=[col], axis=1)

In [155]:
mny_map.get('Water Meter','none')

'مياة'

In [156]:
for x in list_ament:
    df[x]=df[x].replace(True,1)
    df[x]=df[x].replace(False,0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37709 entries, 0 to 37708
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          37709 non-null  object
 1   title                        37709 non-null  object
 2   date                         37709 non-null  object
 3   Location                     37709 non-null  object
 4   Compound                     13610 non-null  object
 5   Type                         37709 non-null  object
 6   Price                        37709 non-null  object
 7   Area (m²)                    37709 non-null  object
 8   Bedrooms                     37709 non-null  object
 9   Level                        37709 non-null  object
 10  Furnished                    37709 non-null  object
 11  Price Type                   37709 non-null  object
 12  Bathrooms                    37709 non-null  object
 13  Payment Option               37709 non-null  object
 14  Description                  37709 non-null  object
 15  Amenities                    37709 non-null  object
 16  Delivery Term                37709 non-null  object
 17  Delivery Date                37709 non-null  object
 18  Down Payment                 37709 non-null  int32
 19  Electricity Meter            37709 non-null  int64
 20  Balcony                      37709 non-null  int64
 21  Water Meter                  37709 non-null  int64
 22  Elevator                     37709 non-null  int64
 23  Security                     37709 non-null  int64
 24  Natural Gas                  37709 non-null  int64
 25  Landline                     37709 non-null  int64
 26  Pets Allowed                 37709 non-null  int64
 27  Covered Parking              37709 non-null  int64
 28  Private Garden               37709 non-null  int64
 29  Pool                         37709 non-null  int64
 30  Maids Room                   37709 non-null  int64
 31  Central A/C & heating        37709 non-null  int64
 32  Built in Kitchen Appliances  37709 non-null  int64
dtypes: int32(1), int64(14), object(18)
memory usage: 9.4+ MB

In [157]:
df['Water Meter'].value_counts()

1    19901
0    17808
Name: Water Meter, dtype: int64

In [158]:
df.rename({'Area_(m²)': 'Area'},inplace=True)
df.columns = df.columns.str.replace(' ','_')
df.rename(columns = {'area_(m²)':'Area','central_a/c_&_heating':'Central_AC_heating'}, inplace = True)
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37709 entries, 0 to 37708
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          37709 non-null  object
 1   title                        37709 non-null  object
 2   date                         37709 non-null  object
 3   location                     37709 non-null  object
 4   compound                     13610 non-null  object
 5   type                         37709 non-null  object
 6   price                        37709 non-null  object
 7   area_(m²)                    37709 non-null  object
 8   bedrooms                     37709 non-null  object
 9   level                        37709 non-null  object
 10  furnished                    37709 non-null  object
 11  price_type                   37709 non-null  object
 12  bathrooms                    37709 non-null  object
 13  payment_option               37709 non-null  object
 14  description                  37709 non-null  object
 15  amenities                    37709 non-null  object
 16  delivery_term                37709 non-null  object
 17  delivery_date                37709 non-null  object
 18  down_payment                 37709 non-null  int32
 19  electricity_meter            37709 non-null  int64
 20  balcony                      37709 non-null  int64
 21  water_meter                  37709 non-null  int64
 22  elevator                     37709 non-null  int64
 23  security                     37709 non-null  int64
 24  natural_gas                  37709 non-null  int64
 25  landline                     37709 non-null  int64
 26  pets_allowed                 37709 non-null  int64
 27  covered_parking              37709 non-null  int64
 28  private_garden               37709 non-null  int64
 29  pool                         37709 non-null  int64
 30  maids_room                   37709 non-null  int64
 31  central_a/c_&_heating        37709 non-null  int64
 32  built_in_kitchen_appliances  37709 non-null  int64
dtypes: int32(1), int64(14), object(18)
memory usage: 9.6+ MB

In [159]:
df.rename({'Area_(m²)': 'Area'},inplace=True)
df.columns = df.columns.str.replace(' ','_')
df.rename(columns = {'area_(m²)':'Area','central_a/c_&_heating':'Central_AC_heating'}, inplace = True)
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37709 entries, 0 to 37708
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          37709 non-null  object
 1   title                        37709 non-null  object
 2   date                         37709 non-null  object
 3   location                     37709 non-null  object
 4   compound                     13610 non-null  object
 5   type                         37709 non-null  object
 6   price                        37709 non-null  object
 7   area                         37709 non-null  object
 8   bedrooms                     37709 non-null  object
 9   level                        37709 non-null  object
 10  furnished                    37709 non-null  object
 11  price_type                   37709 non-null  object
 12  bathrooms                    37709 non-null  object
 13  payment_option               37709 non-null  object
 14  description                  37709 non-null  object
 15  amenities                    37709 non-null  object
 16  delivery_term                37709 non-null  object
 17  delivery_date                37709 non-null  object
 18  down_payment                 37709 non-null  int32
 19  electricity_meter            37709 non-null  int64
 20  balcony                      37709 non-null  int64
 21  water_meter                  37709 non-null  int64
 22  elevator                     37709 non-null  int64
 23  security                     37709 non-null  int64
 24  natural_gas                  37709 non-null  int64
 25  landline                     37709 non-null  int64
 26  pets_allowed                 37709 non-null  int64
 27  covered_parking              37709 non-null  int64
 28  private_garden               37709 non-null  int64
 29  pool                         37709 non-null  int64
 30  maids_room                   37709 non-null  int64
 31  central_ac_heating           37709 non-null  int64
 32  built_in_kitchen_appliances  37709 non-null  int64
dtypes: int32(1), int64(14), object(18)
memory usage: 9.6+ MB

# Compound

In [160]:
lse=list(df['compound'].unique())
lse
lsa=[]
del lse[5]

In [161]:
del lse[1]

In [162]:
from deep_translator import GoogleTranslator
for i in lse:
    try:
        result = GoogleTranslator('auto','arabic').translate(i)
        lsa.append(result)
#         print(result)
    except:
        print('sorry')

In [163]:
c_map = dict(zip(lse, lsa))
c_map

{'2020 Compound': 'كمبوند 2020',
 'Dar Misr': 'Dar Misr',
 'ALBA': 'ألبا',
 'Upville': 'أبفيل',
 'Andalus': 'الأندلس',
 'Zahret El Tagamo': 'زهرة التجمع',
 'Haram City': 'مدينة الهرم',
 'Al Diyar': 'Al Diyar',
 'Nakheel': 'Nakheel',
 'Light City': 'لايت سيتي',
 'Madinaty': 'مدينتي',
 'Stone Residence': 'ستون ريزيدنس',
 'Galleria Moon Valley': 'جاليريا مون فالى',
 'Amorada': 'أموردا',
 'Fifth Square': 'فيفث سكوير',
 'Al Burouj': 'Al Burouj',
 'Dreamland': 'ارض الاحلام',
 'Eastown': 'ايستاون',
 'Jayd': 'Jayd',
 'The Address East': 'العنوان الشرقي',
 'Al Riyadh Secon': 'Al Riyadh Secon',
 'Makany': 'مكاني',
 'Uptown Cairo': 'اب تاون كايرو',
 'Sun City': 'مدينة الشمس',
 'Baron City': 'بارون سيتي',
 'Rehab City': 'مدينة الرحاب',
 'Zizinia Gardens': 'حدائق زيزينيا',
 'Ritage': 'ريتاج',
 'Mivida': 'حياتي',
 'Mountain View iCity': 'ماونتن فيو اي سيتي',
 'Sun City Gardens': 'صن سيتى جاردنز',
 'El Khamayel': 'الخمائل',
 'GCR Golf City': 'جي سي ار جولف سيتي',
 'Highland Park': 'حديقة المرتفعات',
 'Sarai': 'ساراي',
 'Hyde Park New Cairo': 'هايد بارك القاهرة الجديدة',
 'Galleria': 'جاليريا',
 'La Mirada': 'المظهر',
 'Al Yasmine': 'Al Yasmine',
 'Tag Sultan': 'تاج سلطان',
 'Asala': 'أصالة',
 'Arabella Village': 'قرية ارابيلا',
 'The Square': 'المربع',
 'Smart Life': 'الحياة الذكية',
 'AZAD': 'أزاد',
 'Sky View Premier': 'سكاي فيو بريمير',
 'Flowers Park': 'حديقة الزهور',
 'Family City': 'فاميلى سيتى',
 'Hayati Residence': 'حياتى ريزيدنس',
 'One Kattameya': 'قطامية واحدة',
 'Zahwa': 'زهوة',
 'Regents Park': 'ريجينتس بارك',
 'Hayah Residence': 'حياة ريزيدنس',
 'Katameya Plaza': 'قطامية بلازا',
 'Mena Residence': 'مينا ريزيدنس',
 'Mountain View Hyde Park': 'ماونتن فيو هايد بارك',
 'Promenade New Cairo': 'بروميناد القاهرة الجديدة',
 'Village Gardens Katameya': 'قرية حدائق القطامية',
 'Sodic East': 'سوديك ايست',
 'VGK': 'VGK',
 'Midtown': 'ميدتاون',
 'Mirage Residence': 'ميراج ريزيدنس',
 'Park View': 'بارك فيو',
 'Katameya Breeze': 'قطامية بريز',
 'Palm Hills New Cairo': 'بالم هيلز القاهرة الجديدة',
 'District 5 Compound': 'كمبوند ديستريكت 5',
 'Atrio': 'ردهة',
 '90 Avenue': '90 شارع',
 'EL Patio 7': 'ساحة 7',
 'Villette': 'فيليت',
 'Swan Lake': 'بحيرة البجع',
 'Lake View': 'ليك فيو',
 'The Waterway Compound': 'كمبوند ذا ووتر واي',
 'Abu Al-Hool': 'Abu Al-Hool',
 'Gardenia': 'جاردينيا',
 'Degla Palms': 'دجلة بالمز',
 'Grand Heights': 'جراند هايتس',
 'Kattameya Gardens': 'حدائق القطامية',
 'Taj City': 'تلك المدينة',
 'L’Avenir': 'المستقبل',
 'Lake view Residence': 'ليك فيو ريزيدنس',
 'Porto New Cairo': 'بورتو نيو كايرو',
 'Katameya Heights': 'قطامية هايتس',
 'The Village': 'القرية',
 'Zed East': 'زيد ايست',
 'Bloomfields': 'بلوم فيلدز',
 'Trio Gardens': 'تريو جاردنز',
 'Cairo Festival City': 'كايرو فيستيفال سيتي',
 'Degla Towers': 'ابراج دجلة',
 'Capital Heights 2': 'كابيتال هايتس 2',
 'Atika': 'أتيكا',
 'EL Patio ORO': 'ذا جولد يارد',
 'Village Gate': 'بوابة القرية',
 'Beit Al Watan': 'Beit Al Watan',
 'Sky Condos Sodic': 'سكاي كوندوز سوديك',
 'Sephora Heights': 'مرتفعات سيفورا',
 'Blue Vert': 'أزرق فيرت',
 'Beta Greens': 'بيتا جرينز',
 'Village Avenue': 'شارع القرية',
 'IL Bosco': 'الغابة',
 'The Brooks': 'بروكس',
 'Castle Landmark': 'قلعة لاندمارك',
 'Haptown': 'هابتاون',
 'Noor City': 'مدينة نور',
 'La Fontaine Province': 'مقاطعة لافونتين',
 'Ivy Residence': 'سكن اللبلاب',
 'Granda': 'عظيم',
 'Grand Gate': 'جراند جيت',
 'Rock Vera': 'روك فيرا',
 'Midtown Condo': 'ميدتاون كوندو',
 'Il Mondo': 'العالم',
 'EL Patio Casa': 'ذا كورتيارد هاوس',
 'Hayat Heights': 'حياة هايتس',
 'Aria': 'الأغنية',
 'Roses': 'ورود',
 'Century City': 'سينشري سيتي',
 'Neopolis': 'نيوبوليس',
 'OIA': 'OIA',
 'Odyssia': 'ملحمة',
 'Heliopolis Residence': 'هليوبوليس ريزيدنس',
 'Six West': 'ستة غرب',
 'Oriana': 'أوريانا',
 'Scenario': 'سيناريو',
 'La Vida': 'الحياة',
 'High City': 'هاي سيتي',
 'Sun Capital': 'صن كابيتال',
 'Moon City': 'مون سيتي',
 'Garden Hills': 'جاردن هيلز',
 'Bel Air - Sodic': 'بيل اير - سوديك',
 'Paradise': 'جَنَّة',
 'Yaru': 'يارو',
 'Rock Ville': 'روك فيل',
 'ABHA': 'أبها',
 'Capital Gardens': 'حدائق العاصمة',
 'Quattro': 'كواترو',
 'Mountain View Executive': 'ماونتن فيو إكزكيوتف',
 'The Icon Residence': 'ذا ايكون ريزيدنس',
 'Grand Residence': 'جراند ريزيدنس',
 'Ashgar City': 'مدينة الاشجار',
 'Hadaba': 'لذلك',
 'El Shorouk Springs': 'الشروق سبرنجز',
 'Woodville': 'وودفيل',
 'Korba Heights': 'مرتفعات الكوربة',
 'Italian Square': 'الميدان الإيطالي',
 'Concord Gardens': 'حدائق كونكورد',
 'Diplomats': 'دبلوماسيون',
 'Serena Heights': 'مرتفعات سيرينا',
 'Sheraton Residence': 'مساكن شيراتون',
 'Akoya': 'أكويا',
 'El Patio': 'الفناء الخلفي',
 'Leila': 'ليلى',
 'The Axis': 'المحور',
 'Scene 7': 'المشهد 7',
 'The View': 'المنظر',
 'Kattameya Gate': 'بوابة القطامية',
 'IL Bosco City': 'مدينة بوسكو',
 'Degla View': 'دجلة فيو',
 'Maadi V': 'المعادي الخامس',
 'Baet El Masria': 'Baet El Masria',
 'Catalan': 'الكاتالونية',
 'Zizinia El Mostakbal': 'Zizinia El Mostakbal',
 'De Joya': 'الجوهرة',
 'Botanica': 'علم النبات',
 'Midtown Sky': 'ميدتاون سكاي',
 'Rhodes': 'رودس',
 'Porto Cairo': 'ميناء القاهرة',
 'Park Lane': 'خط إنتظار',
 'Green Square': 'جرين سكوير',
 'The City': 'المدينة',
 'Mountain View 1': 'ماونتن فيو 1',
 'Palm Hills Alexandria': 'بالم هيلز الإسكندرية',
 'Stone Park': 'ستون بارك',
 'Leena Springs': 'لينا سبرينجز',
 'The Loft': 'ذا لوفت',
 'Sarayat El Kattameya': 'سرايات القطامية',
 'Moon Valley': 'مون فالي',
 'Nest Cairo': 'نيست كايرو',
 'Celia': 'سيليا',
 'Monte Napoleon': 'مونتي نابليون',
 'Rivan': 'ريفان',
 'Moon Garden': 'مون جاردن',
 'Aswar': 'اسوار',
 'Beta Gardens': 'حدائق بيتا',
 'Life Garden': 'لايف جاردن',
 'Degla Landmark': 'دجلة لاندمارك',
 'La Rose': 'الزهرة',
 'Alico city': 'مدينة اليكو',
 'Rawdat Zayed': 'روضة زايد',
 'Ashrafeya': 'الاشرفية',
 'Arabia': 'شبه الجزيرة العربية',
 'Dyar': 'ديار',
 'Armonia': 'انسجام',
 'Creek Town': 'كريك تاون',
 'Arabia Gate': 'بوابة العرب',
 'Serrano': 'سيرانو',
 'Opera City': 'اوبرا سيتي',
 'Future Gate': 'بوابة المستقبل',
 'Mountain View 2': 'ماونتن فيو 2',
 'Le Ciel': 'السماء',
 'Al Maram Landmark': 'Al Maram Landmark',
 'ZED Towers': 'أبراج زيد',
 'Vivienda': 'مكان الإقامة',
 'Entrada': 'محظور',
 'Skyline': 'خط السماء',
 'Sky Capital View': 'سكاي كابيتال فيو',
 'Jasmine City': 'مدينة الياسمين',
 'Easy Life': 'حياة سهلة',
 'Town Gate': 'بوابة المدينة',
 'Kayan': 'مادة',
 'Bavaria Town': 'بافاريا تاون',
 'Crystal Plaza': 'كريستال بلازا',
 'Cleopatra Palace': 'قصر كليوباترا',
 'Emerald Park': 'حديقة الزمرد',
 'Badya Palm Hills': 'بادية بالم هيلز',
 'The Capital Way': 'طريق العاصمة',
 'Greens': 'الخضر',
 'La Vista City': 'إطلالة على المدينة',
 'La Verde': 'الاخضر',
 'Palm Hills Katameya': 'بالم هيلز قطامية',
 'Les Rois': 'الملوك',
 'TRUE Gate': 'بوابة حقيقية',
 'Azalea': 'أزاليا',
 'Al Hayah': 'Al Hayah',
 'Gharb Golf': 'غرب جولف',
 'Marvel City': 'مدينة مارفل',
 'Lavida': 'الحياة',
 'Floria': 'فلوريا',
 'Al Maqsad': 'Al Maqsad',
 'Kenz': 'خمسة عشر',
 'Stau': 'البقاء',
 'Pukka': 'أصلي',
 'Sueno': 'سوينو',
 'Vinci': 'فينشي',
 'Green Avenue': 'جرين أفينيو',
 'Shorouk Gardens': 'الشروق جاردنز',
 'Al Rabwa': 'Al Rabwa',
 'Arena City Towers': 'أرينا سيتي تاورز',
 'Eshraqa': 'اشراقة',
 'Golden Heights': 'جولدن هايتس',
 'Maadi View': 'المعادي فيو',
 'East Cairo': 'شرق القاهرة',
 'Maadi Gardens': 'حدائق المعادى',
 'Tijan': 'تيجان',
 'Kattameya Palms': 'قطامية بالمز',
 'Maadi Valley': 'وادي المعادى',
 'Maadi Grand City': 'معادى جراند سيتى',
 'Rayhanah Avenue': 'شارع ريحانة',
 'Etoile de Ville': 'سيتي ستار',
 'Al Solaimaneyah Golf City': 'مدينة جولف السليمانية',
 'County': 'مقاطعة',
 'Go Heliopolis': 'اذهب هليوبوليس',
 'Creek Park': 'حديقة الخور',
 'Porto Heliopolis': 'بورتو هليوبوليس',
 'Sun Gate': 'بوابة الشمس',
 'Stella New Cairo': 'ستيلا نيو كايرو',
 'Sama': 'نفس',
 'Alma': 'ألما',
 'Wahet El Ryhan': 'Wahet El Ryhan',
 'Next Point': 'النقطة التالية',
 'Bienestar': 'رعاية',
 'May Fair': 'معرض مايو',
 'Jodran': 'جودران',
 'The Key': 'المفتاح',
 'Mirage City': 'ميراج سيتى',
 'Rayhanah Plaza': 'Rayhanah Plaza',
 'Seabelle': 'سيبيل',
 'Upside Maadi': 'ابسايد المعادي',
 'Rayhanah Residence': 'ريحانة ريزيدنس',
 'Lakefront': 'ليك فرونت',
 'El Ashgar District': 'حي الاشجار',
 'Murooj': 'مروج',
 'Asmarat Heights': 'الاسمرات هايتس',
 'Florenta': 'فلورنسا',
 'Golden Heights 2': 'جولدن هايتس 2',
 'Art City': 'مدينة الفن',
 'Le Jour': 'اليوم',
 'Agora': 'الآن',
 'Ethmar Compound': 'مجمع اثمار',
 'Stella Compounds': 'كمبوندات ستيلا',
 'El Ofok El Gadid': 'El Ofok El Gadid',
 'EL Patio 2': 'الفناء 2',
 'Porto October': 'بورتو اكتوبر',
 'Villino': 'فيلينو',
 'Jewels': 'جواهر',
 'Sedra': 'سيدرا',
 'The Curve': 'المنحنى',
 'Jewar': 'جوار',
 'Aeon': 'دهر',
 'Jada': 'جادا',
 'Cairo Town': 'كايرو تاون',
 'Azzar': 'صلب',
 'Mashareq': 'مشارق',
 'New Giza': 'الجيزة الجديدة',
 'Zayed 2000': 'زايد 2000',
 'Bedaya': 'بداية',
 'Moon Hillls': 'القمر هيللز',
 'Etlalah': 'Etlalah',
 'Joulz': 'جولز',
 'Medallion': 'ميدالية',
 'Valore Sheraton': 'فالوري شيراتون',
 'Green Yard': 'جرين يارد',
 'Kattameya Residence': 'قطامية ريزيدنس',
 'West Gate': 'البوابة الغربية',
 'Degla Gardens': 'حدائق دجلة',
 'Continental Gardens': 'حدائق كونتيننتال',
 'Layan': 'يعامل',
 'Al-Jazeera': 'Al-Jazeera',
 'Anakaji': 'أناكاجي'}

In [164]:
df['compound'].value_counts()

Madinaty               3286
Beit Al Watan           730
Dar Misr                603
Eastown                 569
Mountain View iCity     480
                       ...
Katameya Heights          1
Grand Heights             1
Mirage City               1
Upside Maadi              1
Anakaji                   1
Name: compound, Length: 309, dtype: int64

In [165]:
def check_comp(row, col):
    if c_map.get(col, 'none') in row['description'] or c_map.get(col, 'none') in row['title'] :
        return col
    else:
        return row['compound']

for col in lse:
    df['compound'] = df.apply(check_comp, args=[col], axis=1)

In [166]:
df['compound'].isna().sum() #was 22915

16159

In [167]:
def no_null_comp(x):
    y=pd.isna(x)
    if y == True:
        return 'Not in Compound'
    else:
        return x
df['compound']=df['compound'].apply(no_null_comp)

In [168]:
df[df['compound']=='Not in Compound']

,url,title,date,location,compound,type,price,area,bedrooms,level,...,security,natural_gas,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,1 month ago,New Cairo - El Tagamoa,Not in Compound,Apartment,"150,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
3,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بمدينة عمر بن الخطاب - آخر جسر السويس,2 days ago,New Cairo - El Tagamoa,Not in Compound,Apartment,"450,000",135,3,7,...,0,1,0,0,0,0,0,0,0,0
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,1 month ago,New Cairo - El Tagamoa,Not in Compound,Apartment,"160,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
8,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه لسرعه البيع شقة سكن مصر هلي جنه مباشر,2 months ago,New Cairo - El Tagamoa,Not in Compound,Apartment,"135,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
10,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة لقطة للبيع سكن مصر مسلسل13,2 months ago,New Cairo - El Tagamoa,Not in Compound,Apartment,"190,000",115,3,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37702,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة بمجاورة ٢٢ فيو متميز بحري غير مجروحة نهائي...,1 month ago,15 May City,Not in Compound,Apartment,"520,000",120,3,4,...,0,1,0,0,0,0,0,0,0,0
37703,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع تمليك مدينه ١٥ مايو,4 weeks ago,15 May City,Not in Compound,Apartment,"580,000",110,2,4,...,0,1,0,0,0,0,0,0,0,0
37704,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع إمتداد مدينة 15 مايو مساحة 125م,1 month ago,15 May City,Not in Compound,Apartment,"550,000",125,3,2,...,0,0,0,0,0,0,0,0,0,0
37707,https://www.olx.com.eg/en/ad/%D9%84%D9%84%D8%A...,للبيع,2 months ago,15 May City,Not in Compound,Apartment,"470,000",100,2,4,...,0,0,1,1,0,1,0,0,0,0
37708,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة دور ارضي مرتفع سوبر لوكس مجاورة 15,3 weeks ago,15 May City,Not in Compound,Apartment,"440,000",105,3,Ground,...,0,0,0,0,0,0,0,0,0,0

In [169]:
df['compound'].value_counts()

Not in Compound     16471
Jewar                5094
Madinaty             2940
Sama                 1075
Beit Al Watan         633
                    ...
Go Heliopolis           1
Creek Park              1
Stella New Cairo        1
Wahet El Ryhan          1
Etlalah                 1
Name: compound, Length: 289, dtype: int64

In [170]:
indexes_of_Sakan=df.index[df['description'].str.contains('ماونتن فيو هايد بارك')].tolist()
len(indexes_of_Sakan)

107

We replaced nan values to sakan  masr from the known describtion

In [171]:
indexes_of_Sakan=df.index[df['description'].str.contains('سكن مصر')].tolist()
indexes_of_Sakan2=df.index[df['title'].str.contains('سكن مصر')].tolist()

for i in indexes_of_Sakan:
    df['compound'][i]='Sakan Masr'
for i in indexes_of_Sakan2:
     df['compound'][i]='Sakan Masr'

C:\Users\Commandor\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Commandor\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [172]:
for i in indexes_of_Sakan:
    df.loc[i,"compound"]="Sakan Masr"

All sakan masr in  Tgamo3 that's right :)

In [173]:
df[df['location']=='New Cairo - El Tagamoa'][df['compound']=='Sakan Masr']

C:\Users\Commandor\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,url,title,date,location,compound,type,price,area,bedrooms,level,...,security,natural_gas,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances
0,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بسكن مصر الاندلس مسلسل 1,2 months ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"175,000",115,3,3,...,1,1,1,1,1,1,0,0,0,0
1,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس مرحله ١ للبيع شقه دور اول ١١٥,2 weeks ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"180,000",115,3,1,...,1,1,0,0,0,0,0,0,0,0
2,https://www.olx.com.eg/en/ad/%D9%84%D9%82%D8%B...,لقطه سكن مصر التجمع التالت افر 150 الف,1 month ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"150,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
4,https://www.olx.com.eg/en/ad/%D9%84%D8%B3%D8%B...,لسرعه البيع شقه سكن مصر التجمع التالت,1 month ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"160,000",115,3,2,...,0,0,0,0,0,0,0,0,0,0
5,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر الأندلس ١١٥م للبيع بالمرحلة الاولى است...,1 month ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"190,000",115,3,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15445,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع بسكن مصر التجمع,2 months ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"310,000",115,3,4,...,0,0,0,0,0,0,0,0,0,0
15450,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه بسكن مصر الاندلس القاهرة الجديدة للبيع,1 month ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"517,000",115,3,5,...,1,1,1,0,0,0,0,0,0,0
15451,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع بمشروع سكن مصر اكتوبر الداون تاون,3 weeks ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"400,000",115,3,4,...,0,0,0,0,0,0,0,0,0,1
15457,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع سكن مصر القاهرة الجديدة,2 months ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"550,000",106,3,Ground,...,0,1,0,0,0,0,0,0,0,0
15458,https://www.olx.com.eg/en/ad/%D8%B3%D9%83%D9%8...,سكن مصر,2 months ago,New Cairo - El Tagamoa,Sakan Masr,Apartment,"530,000",115,3,5,...,0,0,0,0,0,0,0,0,0,0

In [174]:
df[(df['compound'].isna()) & (df['location']=='New Cairo - El Tagamoa')]

Empty DataFrame
Columns: [url, title, date, location, compound, type, price, area, bedrooms, level, furnished, price_type, bathrooms, payment_option, description, amenities, delivery_term, delivery_date, down_payment, electricity_meter, balcony, water_meter, elevator, security, natural_gas, landline, pets_allowed, covered_parking, private_garden, pool, maids_room, central_ac_heating, built_in_kitchen_appliances]
Index: []

[0 rows x 33 columns]

In [175]:
df[df['location']=='Gesr Al Suez']

,url,title,date,location,compound,type,price,area,bedrooms,level,...,security,natural_gas,landline,pets_allowed,covered_parking,private_garden,pool,maids_room,central_ac_heating,built_in_kitchen_appliances
26675,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع تلاته غرفه,3 months ago,Gesr Al Suez,Not in Compound,Apartment,"65,000",130,3,1,...,0,1,0,0,0,0,0,0,0,0
26676,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه بالعجمي للبدل بسياره,3 months ago,Gesr Al Suez,Sama,Apartment,"160,000",90,2,10,...,0,0,0,0,0,0,0,0,0,0
26677,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع كاش أو بالتقسيط,3 months ago,Gesr Al Suez,Not in Compound,Apartment,"50,000",150,3,4,...,1,1,1,0,1,0,0,0,0,1
26678,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة تسليم مفتاح,2 months ago,Gesr Al Suez,Not in Compound,Apartment,"30,000",65,2,3,...,0,0,1,0,0,0,0,0,0,0
26679,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D8%A...,شقة للبيع بشارع جمال عبد الناصر جسر السويس الق...,2 months ago,Gesr Al Suez,Not in Compound,Apartment,"170,000",80,2,7,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27884,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع با اجمل موقع بجسر السويس امام عمارات...,1 month ago,Gesr Al Suez,Not in Compound,Apartment,"1,400,000",170,3,10,...,1,0,0,0,0,0,0,0,0,0
27885,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع فى مدينتى بدون عموووله,2 months ago,Gesr Al Suez,Madinaty,Apartment,"1,300,000",77,2,2,...,0,0,0,0,0,0,0,0,0,0
27886,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه بميدان الحجازمصرالجديده١٨٠م,2 months ago,Gesr Al Suez,Not in Compound,Apartment,"1,650,000",180,3,1,...,0,0,0,0,0,0,0,0,0,0
27887,https://www.olx.com.eg/en/ad/%D8%B4%D9%82%D9%8...,شقه للبيع في الاميريه شارع نجم ١٦٠ متر,2 months ago,Gesr Al Suez,Not in Compound,Apartment,"1,588,855",160,3,9,...,0,0,0,0,0,0,0,0,0,0
27888,https://www.olx.com.eg/en/ad/%D8%A8%D9%8A%D8%B...,بيع شقة سكنية على ش جسر السويس أمام سنترال مصر...,4 days ago,Gesr Al Suez,Not in Compound,Apartment,"1,550,000",148,3,10+,...,1,1,0,0,1,0,0,0,0,1

In [176]:
indexes_of_Sakan=df.index[df['description'].str.contains('جسر السويس')].tolist()
indexes_of_Sakan2=df.index[df['title'].str.contains('جسر السويس')].tolist()

x=len(indexes_of_Sakan)+len(indexes_of_Sakan2)
x-1214

352

# Location errors

In [177]:
list_of_locations=df['location'].unique().tolist()
list_of_locations

['New Cairo - El Tagamoa',
 'Madinaty',
 'New Capital City',
 'Nasr City',
 'Rehab City',
 'Shorouk City',
 'Maadi',
 'Obour City',
 'Heliopolis',
 'Zahraa Al Maadi',
 'Mokattam',
 'Ain Shams',
 'Gesr Al Suez',
 'Badr City',
 'Downtown Cairo',
 'Helwan',
 'Mostakbal City',
 'Helmeyat El Zaytoun',
 'New Heliopolis',
 'Sheraton',
 'Salam City',
 'New Nozha',
 'Katameya',
 'Shubra',
 'Hadayek al-Kobba',
 'Hadayek Helwan',
 'Matareya',
 'Marg',
 'Dar al-Salaam',
 'Ezbet El Nakhl',
 'Zawya al-Hamra',
 'Waili',
 'Al Manial',
 'Zamalek',
 'Almazah',
 'Abasiya',
 'Sayeda Zeinab',
 'Basateen',
 'Al Amiriyyah',
 '15 May City']

In [178]:
loc1 = ['التجمع','مدينتي','العاصمه','مدينة نصر','الرحاب','الشروق','معادي','العبور','مصر الجديده','زهراء المعادي','مقطم','عين شمس','جسر السويس','بدر','وسط البلد','حلوان','مدينة المستقبل','حلمية الزاتون','شيراتون','مدينة السلام','النزهه الجديده','قطاميه','شبرا','حدائق القبه','حدائق حلوان','مطريه','المرج','دار السلام','عزبة النخل','الزاويه الحمرا','الوايلي','المنيل','الزمالك','الماظه','عباسيه','سيده زينب','بستين','الامريه','15 مايو']
loc2 = ['New Cairo - El Tagamoa','Madinaty','New Capital City','Nasr City','Rehab City','Shorouk City','Maadi','Obour City','Heliopolis','Zahraa Al Maadi','Mokattam','Ain Shams','Gesr Al Suez','Badr City','Downtown Cairo','Helwan','Mostakbal City','Helmeyat El Zaytoun','Sheraton','Salam City','New Nozha','Katameya','Shubra','Hadayek al-Kobba','Hadayek Helwan','Matareya','Marg','Dar al-Salaam','Ezbet El Nakhl','Zawya al-Hamra','Waili','Al Manial','Zamalek','Almazah','Abasiya','Sayeda Zeinab','Basateen','Al Amiriyyah','15 May City']
mini_map = dict(zip(loc2, loc1))
mini_map
list_of_locations

['New Cairo - El Tagamoa',
 'Madinaty',
 'New Capital City',
 'Nasr City',
 'Rehab City',
 'Shorouk City',
 'Maadi',
 'Obour City',
 'Heliopolis',
 'Zahraa Al Maadi',
 'Mokattam',
 'Ain Shams',
 'Gesr Al Suez',
 'Badr City',
 'Downtown Cairo',
 'Helwan',
 'Mostakbal City',
 'Helmeyat El Zaytoun',
 'New Heliopolis',
 'Sheraton',
 'Salam City',
 'New Nozha',
 'Katameya',
 'Shubra',
 'Hadayek al-Kobba',
 'Hadayek Helwan',
 'Matareya',
 'Marg',
 'Dar al-Salaam',
 'Ezbet El Nakhl',
 'Zawya al-Hamra',
 'Waili',
 'Al Manial',
 'Zamalek',
 'Almazah',
 'Abasiya',
 'Sayeda Zeinab',
 'Basateen',
 'Al Amiriyyah',
 '15 May City']

In [179]:
df['location'].value_counts()

New Cairo - El Tagamoa    15621
Madinaty                   3545
Heliopolis                 1665
Zahraa Al Maadi            1350
Mokattam                   1267
Ain Shams                  1260
Gesr Al Suez               1214
Badr City                  1078
Helwan                      811
Downtown Cairo              810
Helmeyat El Zaytoun         765
Mostakbal City              720
Nasr City                   719
New Heliopolis              594
New Capital City            491
Sheraton                    451
Salam City                  450
Katameya                    434
Hadayek al-Kobba            406
Shubra                      405
New Nozha                   404
Hadayek Helwan              360
Marg                        315
Matareya                    315
Dar al-Salaam               225
Shorouk City                223
Maadi                       218
Obour City                  193
Ezbet El Nakhl              180
Zawya al-Hamra              180
15 May City                 179
Waili                       135
Rehab City                  123
Sayeda Zeinab                91
Al Manial                    90
Zamalek                      90
Almazah                      90
Abasiya                      90
Basateen                     76
Al Amiriyyah                 76
Name: location, dtype: int64

In [ ]:
def check_loc(row, col):
    if mini_map.get(col, 'none') in row['description'] or mini_map.get(col, 'none') in row['title'] :
        return col
    else:
        return row['location']

for col in list_of_locations:
    df['location'] = df.apply(check_loc, args=[col], axis=1)

In [ ]:
df['location'].value_counts()

In [ ]:
def newHtoH(row):
    if row['location'] == 'New Heliopolis' :
        return 'Heliopolis'
    else:
        return row['location']

df['location'] = df.apply(newHtoH, axis=1)

In [ ]:
df['location'].value_counts()

In [ ]:
indexes_of_Sakan2=df.index[df['title'].str.contains('الشروق')].tolist()
len(indexes_of_Sakan2)
# for i in indexes_of_Sakan2es_of_Sakan2:
#     df['title'][indexes_of_Sakan2[i]]

In [ ]:
df['date']

Working with the date column to make the date from "1 month ago "  to "22/5/20122"

In [ ]:
def date_correct(x):

    after_split= x.split(' ')
    if ('days' or 'day') in after_split[1]:
        listing_date = date.today() + relativedelta(days=-int(after_split[0]))
        return(str(listing_date))
    
    elif ('months' or 'month') in after_split[1] :
        listing_date = date.today() + relativedelta(months=-int(after_split[0]))
        
        return(str(listing_date))
    elif('weeks' or 'week') in after_split[1] :
        listing_date = date.today() + relativedelta(weeks=-int(after_split[0]))
        return(str(listing_date))
    else :  
        return(str(date.today()))

In [ ]:
df['date'] = df['date'].apply(date_correct)

In [ ]:
df['date']

## Convert date to datetime object

In [ ]:
df['date']=pd.to_datetime(df['date'],format='%Y/%m/%d')

Extract month from column date

In [ ]:
df['month']=df['date'].apply(lambda x: x.month)

In [ ]:
df.info()

converting Price from string to integers and thier was a problem with 100','000 this comma so we tried to replace it with non space to make it convertable

In [ ]:
df["price"] = [float(str(i).replace(",", "")) for i in df["price"]]
df['price']=df['price'].astype(int)
df.info()

In [ ]:
df['price'].astype(int)
df.info()

## converting area to integer to make it valid to make computations

In [ ]:
df["area"] = [float(str(i).replace(",", "")) for i in df["area"]]
df['area']=df['area'].astype(int)
df.info()

Amenities extraction and make nan values = '''' to make it All false

In [ ]:
# df['Amenities'].isna().sum()
# imputer = SimpleImputer(strategy='constant',fill_value='')
# df[['Amenities']] = imputer.fit_transform(df[['Amenities']])
# #df[['compound']] = imputer.fit_transform(df[['compound']])


# imputer2 = SimpleImputer(strategy='constant',fill_value='Cash')
# df[['Payment Option']] = imputer2.fit_transform(df[['Payment Option']])

In [ ]:
# list_ament=['Electricity Meter', 'Balcony','Water Meter','Elevator',
#             'Security','Natural Gas','Landline','Pets Allowed','Covered Parking',
#             'Private Garden','Pool','Maids Room','Central A/C & heating',
#             'Built in Kitchen Appliances']

# for col in list_ament:

#     df[col] = df['amenities'].str.contains(col) 
 
df.info()

In [ ]:
df.isna().sum()

Replacing Price value in column Price Type to Not Negotiable

In [ ]:
df['price_type'].unique()

In [ ]:
df['price_type'] = [i.replace("Price", "Not Negotiable") for i in df['price_type']]

In [ ]:
df['price_type'].unique()

Creating database  called ReelStates

# DataBase

Creating a database with the columns  of dataframe

In [ ]:


# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="mahmoud2001",
#   database="reelstates"

# )
# mycursor = mydb.cursor()

In [ ]:
# mycursor.execute("CREATE DATABASE ReelStates")

In [ ]:
# mycursor.execute("CREATE TABLE dataset (url VARCHAR(255), title VARCHAR(255), date DATE, Bedrooms VARCHAR(255),Price INT, Payment_Option VARCHAR(255), Furnished VARCHAR(255),Area VARCHAR(255),Compound VARCHAR(255),Description VARCHAR(255),Amenities  VARCHAR(255),Delivery_Date VARCHAR(255),Down_Payment VARCHAR(255),Location VARCHAR(255),Electricity_Meter BOOLEAN, Balcony BOOLEAN, Water_Meter BOOLEAN, Elevator BOOLEAN, Security BOOLEAN, Natural_Gas BOOLEAN, Landline BOOLEAN, Pets_Allowed BOOLEAN, Covered_Parking BOOLEAN, Private_Garden BOOLEAN, Pool BOOLEAN, Maids_Room BOOLEAN, Central_AC_heating BOOLEAN, Built_in_Kitchen_Appliances BOOLEAN)")
# #mycursor.execute("DROP TABLE dataset ")

In [ ]:
df.info()

In [ ]:
# for col in dict_x:
#     url = df[country]
#     title = col['title']
#     deaths = col['Deaths']
    
    
    
    
    
# #     sql = 'INSERT INTO covid (country_name, deaths, confirmed) VALUES (?,?,?)'
# #     covid_data = [country_name, deaths, confirmed]
# #     cursor = conn.execute(sql, covid_data)
    
# # conn.commit()
# # conn.close()

Important packages to download\
pip install mysqlclient\
pip install sqlalchemy\
pip install  pymysql

Converting Dataframe to sql Table :)

In [ ]:
# from sqlalchemy import create_engine

# engine = create_engine("mysql://root:mahmoud2001@localhost/reelstates" )
# df.to_sql('final_data', con = engine, if_exists = 'append',index = True)

In [ ]:
# engine.execute("DROP TABLE final_data")

In [ ]:
# df.to_csv (r'olx_data_With_Cleaning.csv', index = False, header=True,encoding='utf-8')

In [ ]:
# imputer = SimpleImputer(strategy='most_frequent')
# imputer2 = SimpleImputer(strategy='constant',fill_value="none")
# df[['Payment Option']] = imputer.fit_transform(df[['Payment Option']])
# df[['Furnished']] = imputer.fit_transform(df[['Furnished']])
# df[['Compound']] = imputer2.fit_transform(df[['Compound']])
# df[['Delivery Date']] = imputer2.fit_transform(df[['Delivery Date']])
# df[['Compound']] = imputer2.fit_transform(df[['Compound']])
# df[['Down Payment']] = imputer2.fit_transform(df[['Down Payment']])

# Analysis

We dropped duplicates and we didn't find any duplicates

In [ ]:
df = df.drop_duplicates()
df

In [ ]:
df["area"] = [float(str(i).replace(",", "")) for i in df["area"]]
df['area']=df['area'].astype(int)

df['meterprice']=df['price']/df['area']
df['meterprice']=df['meterprice'].astype(int)
df

In [ ]:
df[df['meterprice']<10]

In [ ]:
# def intlevel(x):

#     if ('Ground') in x:
#         return(str(0))
#     else:
#         return x
# df['level']=df['level'].apply(intlevel)

In [ ]:
df['level'].unique()

In [ ]:
df.groupby('location').describe()

In [ ]:
df.info()

In [ ]:
df['price_type'].unique()

In [ ]:
df['month'].unique()

In [ ]:
df['delivery_term'].unique()

In [ ]:
df['delivery_date'].unique()

### may and april are the highest price monthes

In [ ]:
df.groupby('month')['meterprice'].mean().sort_values(ascending=False)

### semi finished has higher meter price than core & shell and core and shell apartements are more available

In [ ]:
df.groupby('delivery_term')['meterprice'].mean().sort_values(ascending=False)

In [ ]:
sns.barplot(y='meterprice',x='delivery_term',data=df,estimator=np.mean,palette="mako")

In [ ]:
sns.barplot(y='meterprice',x='delivery_term',data=df,estimator=np.sum,palette="mako")

### 2027 has the highest meter price

In [ ]:
df.groupby('delivery_date')['meterprice'].mean().sort_values(ascending=False)

In [ ]:
sns.barplot(x='meterprice',y='delivery_date',data=df,estimator=np.mean,palette="mako")

In [ ]:
df[df['delivery_date']=='2027']['meterprice'].mean()

### 2024 have some deliverables that are more than other not so soon dates

In [ ]:
sns.barplot(x='meterprice',y='delivery_date',data=df,estimator=np.sum,palette="mako")

### zamalek have the higest meter price value

In [ ]:
sns.barplot(x='meterprice',y='location',data=df,estimator=np.mean,palette="mako")

### the highest levels are lowest prices (might be because of Erosion effects and the risk of elevators might not work properly)

In [ ]:
df.groupby('level')['meterprice'].mean().sort_values(ascending=False)

In [ ]:
sns.barplot(x='level',y='meterprice',data=df,estimator=np.mean,palette="mako")

### elevator plays a rule in the price of high levels in the building but still high levels are lowest value levels

In [ ]:
x=pd.pivot_table(index='level',values='meterprice',columns='elevator',data=df,aggfunc=np.mean)
x

In [ ]:
sns.barplot(x='area',y='location',data=df,estimator=np.mean,palette="mako")

#### outlier

In [ ]:
df[(df['location']=='Helmeyat El Zaytoun') & (df['area']> 1000)]

In [ ]:
df.groupby('location')['meterprice'].describe()

In [ ]:
x=pd.pivot_table(index='location',values='meterprice',columns='compound',data=df,aggfunc=np.mean)
x

In [ ]:
x=pd.pivot_table(index='location',values='meterprice',columns='private_garden',data=df,aggfunc=np.mean)
x

In [ ]:
df.info()

In [ ]:
df[df['down_payment']<0]

In [ ]:
def nega(row):
    if row['down_payment'] < 0 :
        return 0
    else:
        return row['down_payment']

df['down_payment'] = df.apply(nega, axis=1)

### people use installment option more than cash

In [ ]:
sns.barplot(x='payment_option', y='down_payment', data=df, estimator=np.mean,palette="mako")

In [ ]:
x=pd.pivot_table(index='location',values='meterprice',columns='furnished',data=df,aggfunc=np.mean)
x

In [ ]:
sns.heatmap(x,annot=True,fmt='0.0f')

### outliers handling

In [ ]:
df['area'].max()

In [ ]:
df['meterprice'].max()

In [ ]:
df.columns

In [ ]:
sns.boxplot(x='area', data=df)
sns.stripplot(x='area', data=df, color="#474646")

### droping outliers drops 9000 row so we will replace with median

In [ ]:
pip install datasist

In [ ]:
from datasist.structdata import detect_outliers
idx = ['area','price','meterprice','down_payment']
for col in idx:
    outliers_indices = detect_outliers(df, 0, [col])
    col_median = df[col].median()
    df[col].iloc[outliers_indices] = col_median

In [ ]:
df['area'].max()

In [ ]:
df['meterprice'].max()

In [ ]:
df['meterprice'].min()

In [ ]:
sns.boxplot(x='area', data=df)
sns.stripplot(x='area', data=df, color="#474646")

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df['furnished'].replace('No',0,inplace = True)
df['furnished'].replace('Yes',1,inplace = True)

In [ ]:
df["area"] = [float(str(i).replace(",", "")) for i in df["area"]]
df['area']=df['area'].astype(int)

df['meterprice']=df['price']/df['area']
df['meterprice']=df['meterprice'].astype(int)
df

In [ ]:
df['bedrooms'].unique()

### Machine learning

In [ ]:
df.drop(['url','title', 'date', 'type', 'description', 'amenities'], axis=1, inplace=True)
df

In [ ]:
df = pd.get_dummies(df, columns=['location', 'compound','bedrooms', 'month','level', 'bathrooms','payment_option','delivery_term','delivery_date','price_type'], drop_first=True)
df

In [ ]:
columns=list(df.columns)
columns

In [ ]:
for i in columns:
    if 'bedrooms' in i:
        print(i)
        break

In [ ]:
ze=[]
ze=columns[columns.index('location_Abasiya'):columns.index('compound_90 Avenue')]
ze

In [ ]:
ze2=[]
ze2=columns[columns.index('bedrooms_10'):columns.index('month_2')]
ze2

In [ ]:
printz=[]
for i in ze:
    printz.append(f"'{i}':[]")

In [ ]:
printz

In [ ]:
comp={}
for i in ze:
    x=df[df[i]==1].iloc[0][ze]
    comp[i]=x.values.tolist()
comp

In [ ]:
comp={}
for i in ze2:
    x=df[df[i]==1].iloc[0][ze2]
    comp[i]=x.values.tolist()
comp

In [ ]:
ze3=[]
ze3=columns[columns.index('month_2'):columns.index('level_10')]
ze3

In [ ]:
comp={}
for i in ze3:
    x=df[df[i]==1].iloc[0][ze3]
    comp[i]=x.values.tolist()
comp

In [ ]:
ze4=[]
ze4=columns[columns.index('level_10'):columns.index('bathrooms_10')]
ze4

In [ ]:
comp={}
for i in ze4:
    x=df[df[i]==1].iloc[0][ze4]
    comp[i]=x.values.tolist()
comp

In [ ]:
ze4=[]
ze4=columns[columns.index('bathrooms_10'):columns.index('payment_option_Cash or Installment')]
ze4

In [ ]:
comp={}
for i in ze4:
    x=df[df[i]==1].iloc[0][ze4]
    comp[i]=x.values.tolist()
comp

In [ ]:
ze4=ze4=[]
ze4=columns[columns.index('payment_option_Cash or Installment'):columns.index('delivery_term_Finished')]
comp={}
for i in ze4:
    x=df[df[i]==1].iloc[0][ze4]
    comp[i]=x.values.tolist()
comp

In [ ]:
ze4=ze4=[]
ze4=columns[columns.index('price_type_Not Negotiable'):]
comp={}
for i in ze4:
    x=df[df[i]==1].iloc[0][ze4]
    comp[i]=x.values.tolist()
comp

In [ ]:
df2 = df.copy(deep = True)
df3 = df.copy(deep = True)
df4 = df.copy(deep = True)

In [ ]:
col1_without = pd.get_dummies(df, columns=['location', 'compound','bedrooms', 'month','level', 'bathrooms','payment_option','delivery_term','delivery_date','price_type']).columns
list(col1_without)

col2 = pd.get_dummies(df, columns=['location', 'compound','bedrooms', 'month','level', 'bathrooms','payment_option','delivery_term','delivery_date','price_type'],drop_first=True).columns
list(col2)

In [ ]:
kkk

In [ ]:
for i in df.columns:
    print(i)

In [ ]:
df[df[i]==1]

In [ ]:
n=df.columns
n[9:20]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
x = df.drop('meterprice', axis=1)
y = df['meterprice']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [ ]:
scaler= StandardScaler()

scaler.fit(x_train)

x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

models = {
    'LR': LinearRegression(),
    'DT': DecisionTreeRegressor(),#max_depth=180
    'KNN': KNeighborsRegressor(),#n_neighbors=9
    #'SVM': SVR(), #kernel='rbf'
    'RF': RandomForestRegressor(n_estimators=100,max_depth=6),#n_estimators=200,max_depth=330
    'XGB': XGBRegressor()#n_estimators=200
}

for name, model in models.items():
    print(f'Training {name}...')
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(f'Testing RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')
    print(f'Testing MAE: {mean_absolute_error(y_test, y_pred)}')
    print(f'Testing R2: {r2_score(y_test, y_pred)}')
    print('-'*50)

In [ ]:
df['meterprice'].describe()

In [ ]:
# from sklearn.model_selection import RandomizedSearchCV
# params = [
#         {'criterion':['gini', 'entropy'], 'n_estimators':range(20, 500)}
#          ]

# randomized_search = RandomizedSearchCV(estimator=model,
#                            param_distributions=params,
#                            scoring='accuracy',
#                            cv=10, n_jobs=-1)
# randomized_search.fit(x, y)

In [ ]:
zee=[]
for i in df.columns:
    zee.append(df[i][2])
del zee[18]

In [ ]:
zee

In [ ]:
df['meterprice'][2]

### we have chosen XGB because R2 is better than other models

according to mean_squared_error with the maximum value of the meter price

according to mean_absolute_error with the minimum value of the meter price

In [ ]:
model = XGBRegressor()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [ ]:
custom_data = np.array(zee)

custom_data = scaler.transform([custom_data])

prediction = model.predict(custom_data)
prediction

In [ ]:
    print(f'Testing RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')
    print(f'Testing MAE: {mean_absolute_error(y_test, y_pred)}')
    print(f'Testing R2: {r2_score(y_test, y_pred)}')

In [ ]:
model2 = RandomForestRegressor(n_estimators=200,max_depth=6)
model2.fit(x_train, y_train)
y_pred = model2.predict(x_test)
print(f'Testing RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')
print(f'Testing MAE: {mean_absolute_error(y_test, y_pred)}')
print(f'Testing R2: {r2_score(y_test, y_pred)}')

In [ ]:
custom_data = np.array(zee)

custom_data = scaler.transform([custom_data])

prediction = model2.predict(custom_data)
prediction